invIndex*
primaryBTree*
target
.classpath
.settings
.project
asterixdb/asterix-opt
asterixdb/asterix-app/library
*.pyc
*.iml
.idea
*.ipr
*.iws
exception
derby.log
hadoop-conf-tmp
metastore_db
output
dist
*~
.DS_Store
*.swp
.m2*